<?xml version="1.0" ?>
<!--
/**
 * MaxPronko Consulting
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@eadesign.ro so we can send you a copy immediately.
 *
 * @category    MaxPronko_TaskManagement
 * @copyright   Copyright (c) 2018 MaxPronko Consulting.
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pronko::top_level" module="Pronko_TaskManagement" resource="Pronko_TaskManagement::manage_task" sortOrder="9999" title="Pronko"/>
		<add action="taskmanagement/index/index" id="Pronko_TaskManagement::index_index" module="Pronko_TaskManagement" parent="Pronko::top_level" resource="Pronko_TaskManagement::manage_task" sortOrder="9999" title="Task Management"/>
	</menu>
</config>
